/* Root and variable CSS */
:root {
    --standard-padding: 0 20px;
    --primary-bg: rgba(255, 255, 255, 0.9);
    --secondary-bg: rgba(235, 34, 182, 0.8);
    --main-title-color:  #0c407c;
    --secondary-title-color: rgb(255, 255, 255);
    --primary-color: #0a1670; 
    --alert-color: #a75b68;
    --box-border: solid 4px #0c407c;
    scroll-behavior: smooth;
}


body {
    background-image: url("../images/paisley-bg.jpg");
    background-size: cover;
    padding: 20px 0 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}

/* Max width of content */
#site-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


/* Navigation styles */
nav {
    text-align: center;
}

nav ul {
    padding: 0;
  }

nav li {
    list-style: none;
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: 1px;
}

nav a {
    text-align: center;
    background: var(--primary-bg);
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 4px;
    border-color: var(--box-border);
    color: var(--main-title-color);
}

#aboutMe:target .section-title, #myWork:target .section-title,  #contactMe:target .section-title {
    background: #cfd2bc;
  }

/* Header area styling */

header {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

h1 {
	margin: 0 0 20px;
	line-height: 1.2;
	color: var(--alert-color);
	font-family: 'Roboto', sans-serif;
	font-size: 1.7em;
	font-weight: normal;
}

h2 {
margin: 0;
line-height: 1.2;
color: var(--alert-color);
font-family: 'Roboto', sans-serif;
font-size: 2em;
font-weight: normal;
}

#portfolio-image {
	margin: 0 auto;
	text-align: center;
    border: var(--box-border);
    border: solid 4px;
	padding: 40px;
	background: var(--primary-bg);
	border-radius: 30px;
	color: var(--primary-color);
	font-size: 1.5em;
	line-height: 1.2;
}



#portfolio-image img {
	width: 180px;
	border-radius: 50%;
	margin: 0 20px;
}


#bio-intro {
	margin: 0 auto;
	text-align: center;
	padding: 30px 20px 20px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 30px;
	color: var(--primary-color);
	font-size: 2em;
	line-height: 1.2;
    border: solid 4px;
    border: var(--box-border);
}

/* Main content section styling */

main {
    padding: 0 20px;
}

.alert-color {
    color: var(--alert-color);
}

.grid {
    display: grid;
    gap: 50px;
    align-items: start;
    margin-top: 30px;
}


.section-title {
    text-align: center;
    padding: 10px 20px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 30px;
	color: var(--primary-color);
    border: solid 4px;
    border: var(--box-border); 
}

.section-bio-text {
    text-align: left;
    padding: 10px 20px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 30px;
    border: solid 4px;
    border: var(--box-border);
    font-size: 1.2em; 
}

#aboutMe, #myWork {
    grid-template-columns: 300px 1fr;
}

.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
}

#portfolioProject1, #portfolioProject2, #portfolioProject3, #portfolioProject4 {
    background-image: url("https://images.pexels.com/photos/271667/pexels-photo-271667.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / span 3;
    position: relative;
    border-radius: 30px;
    border: var(--box-border);
    font-size: 2em;
}

#portfolioProject2 {
    grid-column: 1;
    font-size: 1.3em;
    background-image: url("https://marvel-b1-cdn.bc0a.com/f00000000026007/resilienteducator.com/wp-content/uploads/2012/11/AdobeStock_60467600_cup.jpg");
}

#portfolioProject3 {
    grid-column: 2;
    font-size: 1.3em;
    background-image: url("https://images.pexels.com/photos/4348404/pexels-photo-4348404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#portfolioProject4 {
    grid-column: 3;
    font-size: 1.3em;
    background-image: url("https://cdn-production.checkfront.com/wp-content/uploads/2022/05/about-online-reservation-system.jpg");
}

/* This helps cotrol the full box (image and text) as one link */

.image-over {
    position: absolute;
    height: 100%;
    width: 100%;
}

.text-over {
    position: absolute;
    width: 100%;
    background: var(--secondary-bg);
    bottom: 0;
    color: var(--secondary-title-color);
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#contactMe {
    grid-template-columns: 300px 60px 60px 60px;
    gap: 30px;
}

#contactMe img {
    max-width: 60px;
}

.email, .linkedin, .telephone {
    margin-left: 20px;
  }

 /* Responsive mode controlled by below media queries */

  @media only screen and (max-width: 63em){
    header {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .workGrid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 350px 200px 200px 200px;
    }
    #portfolioProject1 {
        grid-column: 1;
    }
    #portfolioProject2 {
        grid-column: 1;
        font-size: 1.3em;
        background-image: url("https://marvel-b1-cdn.bc0a.com/f00000000026007/resilienteducator.com/wp-content/uploads/2012/11/AdobeStock_60467600_cup.jpg");
    }
    #portfolioProject3 {
        grid-column: 1;
        font-size: 1.3em;
        background-image: url("https://images.pexels.com/photos/4348404/pexels-photo-4348404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
    #portfolioProject4 {
        grid-column: 1;
        font-size: 1.3em;
        background-image: url("https://cdn-production.checkfront.com/wp-content/uploads/2022/05/about-online-reservation-system.jpg");
    }
    #bio-intro {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
      }
      #aboutMe, #myWork {
        grid-template-columns: 200px 1fr;
      }
      #contactMe {
      grid-template-columns: 200px 60px 60px 60px;
}
  }

  
  

  @media only screen and (max-width: 35.5em){
    header {
        margin-top: 30px;
    }
    .grid {
        display: block;
    }
    #portfolio-image img {
        width: 140px;
        margin: 0 10px;
    }
    #portfolioProject2 {
        font-size: 1.2em;
}
    #portfolioProject3 {
        font-size: 1.2em;
}
    #portfolioProject4 {
        font-size: 1.2em;
 }
    #bio-intro {
        font-size: 1.3em;
    }
    .section-title {
        margin: 0 auto 10px;
        max-width: 250px;
    }
    h2 {
        font-size: 1.1em;
      }
      #contactMe img {
        margin: 0 auto 20px;
        display: table;
    }
  }

  @media only screen and (max-width: 500px){
    nav a {
        margin: 0 4px;
        padding: 5px 10px;
        font-size: 0.75em;
      }
}

  
  